<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jaxws="http://cxf.apache.org/jaxws"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
        http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">

    <!-- cxf-core包自带的 -->
    <import resource="classpath:META-INF/cxf/cxf.xml"/>
    <import resource="classpath:META-INF/cxf/cxf-servlet.xml"/>

    <!-- 自动扫描 -->
    <context:component-scan base-package="com.java1234.webservice"/>

    <!-- 定义服务提供者和服务名  -->
    <jaxws:endpoint implementor="#helloWorld" address="/HelloWorld">
        <!--&lt;!&ndash; 添加in拦截器 &ndash;&gt;
        <jaxws:inInterceptors>
            <bean class="org.apache.cxf.interceptor.LoggingInInterceptor"/>
            <bean class="MyInterceptor"/>
        </jaxws:inInterceptors>
        &lt;!&ndash; 添加out拦截器 &ndash;&gt;
        <jaxws:outInterceptors>
            <bean class="org.apache.cxf.interceptor.LoggingInInterceptor"/>
        </jaxws:outInterceptors>-->
    </jaxws:endpoint>
</beans>